html {
  width: 100%;
  height: 100%;
}

html, body, #root {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background-color:#eee;
}

#page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.scrolling {
  height: 0;
  overflow-y: auto;
  flex-grow: 1;
}

.MuiCardActions-root {
  flex-direction: row-reverse;
}

.leaflet-parent .leaflet-container {
  height: 100%;
  width: 100%;
}